<!doctype html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEAM</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/boostrap.min.css' %}">
    <script{% static 'js/boostrap.min.js' %}></script>
    <a class="nav-link" href="{% url 'contact' %}">index</a>


</head>
<body>
 <h1 class="text-center text-success">OUR TEAM</h1>


<p class="text-danger bg-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ea exercitationem fugit magni maxime optio saepe sunt! Alias consectetur cumque eveniet expedita fuga, libero porro quasi, sapiente sint, ullam vero!</p>

 <p>Use the contextual classes to provide "meaning through colors":</p>
  <p class="text-muted">This text is muted.</p>
  <p class="text-primary">This text is important.</p>
  <p class="text-success">This text indicates success.</p>
  <p class="text-info">This text represents some information.</p>
  <p class="text-warning">This text represents a warning.</p>
  <p class="text-danger">This text represents danger.</p>
  <p class="text-secondary">Secondary text.</p>
  <p class="text-dark">This text is dark grey.</p>
  <p class="text-body">Default body color (often black).</p>
  <p class="text-light">This text is light grey (on white background).</p>
  <p class="text-white">This text is white (on white background).</p>
</div>

</body>
</html>
</body>
</html>